<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>

    </div>

    <table class="table table-bordered reviews">
      <thead>
        <tr>
          <th>Rating</th>
          <th colspan="2">Review</th>
        </tr>
      </thead>
      <tbody>
        <% @reviews.each do |review| %>
          <%= render 'review', review: review %>
        <% end %>
      </tbody>
    </table>

    <% if current_user %>

      <%= form_for(:review, url:"/products/#{@product.id}/reviews") do |f| %>
      <div class="new-review-box">

        <table class="new-review">
          <tr>
            <td><%= f.label :description %></td>
            <td><%= f.text_area :description %></td>
          </tr>
          <tr>
            <td><%= f.label :rating %></td>
            <td><%= f.select :rating, (1..5) %><span class="margin"><%= f.submit 'Send Review' %></span></td>
          </tr>
        </table>

      </div>
      <% end %>

    <% end %>

  </article>

</section>
